/**
 * Layout
 *
 * Base layout stuff
 *
 * @author agms
 */

/* Site header
   ========================================================================== */


/* Site name, slogan and logo
   ========================================================================== */
.logo img {
   margin-top: $large-spacing;
}

/* Content
   ========================================================================== */

.content-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.default-layout {
	margin-top: 0;
}

/* Depends on bibsdb_expose module */
.default-layout.editormode {
	margin-top: 20px;
}


/* Breadcrumbs
   ========================================================================== */
.breadcrumb-wrapper {
	@include zen-clear();
	  margin-right: 20px;
}

.breadcrumb {
	@include zen-clear();
	@include zen-grid-item(12, 1);
	margin-right: 10px;
	margin-left: 10px;
	background-color: $white;
	padding-left: $large-spacing;
	padding-top: $small-spacing;

	@include small-medium {
		
		font-size: $font-size-small;
	}
}