/**
 * Layout
 *
 * Base layout stuff
 *
 * @author agms
 */

/* Site header
   ========================================================================== */


/* Site name, slogan and logo
   ========================================================================== */
.logo img {
   margin-top: $large-spacing;
}

/* Content
   ========================================================================== */

.content-wrapper {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
}


   

