/**
 * Typography
 *
 * @author agms
 */


/* Header variants
   ========================================================================== */
h1, h1.page-title, .pane-menu-title h2 {
  @extend %page-heading;
	font-size: $font-size-largest;
	@include font-extrabold();
	text-transform:uppercase;
	color: $font-color-primary;
}

h2.pane-title {
  @extend %page-heading;
	font-size: $font-size-larger;
	@include font-extrabold();
	text-transform:uppercase;
	color: $font-color-primary;
}



/* Content and elements
   ========================================================================== */

.page-lead {
  @include font-bold();
	padding-bottom: $medium-spacing;
  margin-bottom: $small-spacing;
  border-bottom: 1px solid $gray;
}


