 /**
 * eresource
 * *
 * @author agms.
 */



/* eresource Default View
========================================================================== */

/* Structure */
.bibsdb-page-eresourcer {

  .primary-content {
    @include zen-nested-container();
  }

  .eresource-content {
    @include zen-grid-item(8, 1);
  }

  .eresource-right-col {
    @include zen-grid-item(4, 1, right);

    @include zen-nested-container();

    .eresource-info-item {
      @include zen-clear();
      @include zen-grid-item(12, 1);
      @include zen-nested-container();

      .eresource-icon {
        @include zen-grid-item(2, 1);
      }

      .eresource-text {
        @include zen-grid-item(10, 1, right);
      }
    }
  }
}

/* Format menu title on eresource */

.bibsdb-page-eresourcer .js-og-sub-menu-title {
  display: none;
  font-size: $font-size-small;
  padding: 0;
  margin: 0;

  @include small-medium() {
    display: block;

  }
}


/* Page Elements */

.eresource-content {


  h1.page-title {
    clear: both;
    padding: 0;
    margin-bottom: $medium-spacing;
  }

  .label-info {
    display: none;
  }

  .eresource-lead {
    @include font-bold();
    font-size: $font-size-medium;
    margin-bottom: $medium-spacing;
  }

  .eresource-image {

    img {
      border: 1px solid $gray;
      margin-top: $medium-spacing;
      margin-bottom: $large-spacing;
      padding-left: 0;
    }
  }

  .eresource-body {
    ol {
      counter-reset:li; /* Initiate a counter */
      margin-left:0; /* Remove the default left margin */
      padding-left:0; /* Remove the default left padding */
    }
    ol > li {
      position:relative; /* Create a positioning context */
      margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
      padding:4px 8px; /* Add some spacing around the content */
      list-style:none; /* Disable the normal item numbering */
      border-top:2px solid #666;
      background:#f6f6f6;
    }
    ol > li:before {
      content:counter(li); /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      /* Position and style the number */
      position:absolute;
      top:-2px;
      left:-2em;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      width:2em;
      /* Some space between the number and the content in browsers that support
      generated content but not positioning it (Camino 2 is one example) */
      margin-right:8px;
      padding:4px;
      border-top:2px solid #666;
      color:#fff;
      background:#666;
      font-weight:bold;
      font-family:"Helvetica Neue", Arial, sans-serif;
      text-align:center;
    }
    li ol,
    li ul {margin-top:6px;}
    ol ol li:last-child {margin-bottom:0;}
  }

  .field-name-field-ding-eresource-materials {
    padding:0;

    h2 {
      font-size: $font-size-large;
    }

    .label {
      display: none;
    }
  }
}

.eresource-right-col {


  div, p {
    display: inline;
  }


  /* Format the link to the resource */
  .eresource-info-item {
    padding-top: $medium-spacing;
    padding-left: $large-spacing;
    text-indent: -1.7em;

    .field-label {
      margin-right: 0;
    }

    &.eresource-icons {
      text-indent: 0;
    }

    &.eresource-link {
      @include font-bold();
      font-size: $font-size-medium;
      &::before {
        font-size: $font-size-large;
        font-family: fontawesome;
        content: "\F0AC";
        margin-right: .2em;
      }

      .field-label {
        display: none;
      }
    }

    &.eresource-links {
      p {
        display: block;
      }
      
      img {
        padding: 0;
      }

      .field-label {
        display: none;
      }
    }

    &.eresource-access {
      &::before {
        font-family: fontawesome;
        content: "\F023";
        font-size: $font-size-larger;
        margin-right: .2em;
      }
    }

    &.eresource-info {
      &::before {
        font-family: fontawesome;
        content: "\F05A";
        font-size: $font-size-larger;
        margin-right: .2em;
      }
    }

    &.eresource-period {
      &::before {
        font-family: fontawesome;
        content: "\F133";
        font-size: $font-size-larger;
        margin-right: .2em;
      }
    }

    &.eresource-limit {
      &::before {
        font-family: fontawesome;
        content: "\F0C9";
        font-size: $font-size-larger;
        margin-right: .2em;
      }
    }

    &.eresource-contact {
      &::before {
        font-family: fontawesome;
        content: "\F059";
        font-size: $font-size-larger;
        margin-right: .2em;
      }
    }


    
  }  
}


/* Media queries */
@include small-medium {

  /* Structure */
  .bibsdb-page-eresourcer {

    .primary-content {
      @include zen-nested-container();
    }

    .eresource-content {
      @include zen-grid-item(12, 1);

    }

    .eresource-right-col {
      @include zen-clear();
      @include zen-grid-item(12, 1);
      @include zen-nested-container();
    }
  }

  /* Page elements */
  h1.page-title {
    margin-bottom: $large-spacing;
  }

  .label-info {
    display: block;
  }

  .eresource-image {
    display: none;
  }


  .eresource-footer {
    display: block;
    padding-top: $large-spacing;
    margin-top: $medium-spacing;
    border-top: 1px solid $gray-light;

    .eresource-info {

      .eresource-info-item {
        border-left: 0;
      }
    }


  }

  .eresource-content {

    padding: 0;
    .field-name-field-ding-eresource-materials {
      padding:0;
      h2 {
        font-size: $font-size-medium;
      }
    }
  }


}

