/**
 * Content in grid
 *
 * @author agms
 */

/* Content in grid
   ========================================================================== */

.content-blocks--inner {
  @include zen-clear(both);
  @include zen-nested-container();

  border-top: 1px solid $gray-light;
  overflow: hidden;
  margin-top: 20px;
  padding-top: 20px;

  @include small-medium() {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

.content-blocks--one {
  > div:nth-child(1) {
    @include zen-grid-item(12, 1);

    padding-left: 0;
    padding-right: 0;
  }
}

.content-blocks--two {
  > div:nth-child(1) {
    @include zen-grid-item(6, 1);

    padding-left: 0;
  }

  > div:nth-child(2) {
    @include zen-grid-item(6, 1, right);

    padding-right: 0;
  }
}

.content-blocks--three {
  > div:nth-child(1) {
    @include zen-grid-item(4, 1);

    padding-left: 0;
  }

  > div:nth-child(2) {
    @include zen-grid-item(4, 5);
  }

  > div:nth-child(3) {
    @include zen-grid-item(4, 1, right);

    padding-right: 0;
  }
}

.content-blocks--four {
  > div:nth-child(1) {
    @include zen-grid-item(3, 1);

    padding-left: 0;
  }

  > div:nth-child(2) {
    @include zen-grid-item(3, 4);
  }

  > div:nth-child(3) {
    @include zen-grid-item(3, 4, right);
  }

  > div:nth-child(4) {
    @include zen-grid-item(3, 1, right);

    padding-right: 0;
  }
}

.content-blocks--wrapper {
  @include zen-grid-container();

  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;

  @include small-medium() {
    .content-blocks--one > div,
    .content-blocks--two > div,
    .content-blocks--three > div,
    .content-blocks--four > div {
      @include zen-clear();
      @include zen-grid-item(12, 1);
      @include zen-nested-container();

      border-bottom: 1px solid $gray-light;
      margin-bottom: 20px;
      padding-bottom: 20px;

      &.last {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
