 /**
 * eresource
 * *
 * @author agms.
 */


 /* Hightlight current node in menu */
 .bibsdb-page-eresourcer {
  .sub-menu {
    > li {
      .active0 {
        @include font-bold();
      }
    }
  }

  /* Media queries */
  @include small-medium {

    /* Hide alphabetikal menu on small screens */
    .alphabetical-eresource-list {
    }
  }
}



/* eresource Default View
========================================================================== */

/* Structure */
.bibsdb-page-eresourcer {

  .primary-content {
    @include zen-nested-container();
  }

  .eresource-content {
    @include zen-grid-item(8, 1);

  }

  .eresource-right-col {
    @include zen-grid-item(4, 1, right);
    @include zen-nested-container();

    .eresource-info-item {
      @include zen-clear();
      @include zen-grid-item(12, 1);

      .eresource-icon {
        @include zen-grid-item(2, 1);
      }

      .eresource-text {
        @include zen-grid-item(10, 1, right);
      }
    }
  }
}



/* Page Elements */

.eresource-content {

  h1.page-title {
    clear: both;
    padding: 0;
  }

  .label-info {
    display: none;
  }

  .eresource-lead {
    @include font-bold();

    font-size: $font-size-medium;
    padding-bottom: $large-spacing;
    margin-bottom: $medium-spacing;
    border-bottom: 1px solid $gray-light;
  }

  .eresource-image {
    margin-top: $medium-spacing;
    margin-right: $large-spacing;
    margin-bottom: $medium-spacing;
    padding-left: 0;
    border: 1px solid $gray;
  }

  .field-name-field-ding-eresource-materials {
    padding:0;

    h2 {
      font-size: $font-size-large;
    }

    .label {
      display: none;
    }
  }
}



.eresource-right-col {
    div, p {
      display: inline;
    }

  /* Format the link to the resource */
  .eresource-info-item {
    padding-top: $medium-spacing;

    &:nth-of-type(2) {

      @include font-bold();

      .field-label {
        display: none;
      }
    }
  }
  
  
}


/* Media queries */
@include small-medium {

  /* Structure */
  .bibsdb-page-eresourcer {

    .primary-content {
      @include zen-nested-container();
    }

    .eresource-content {
      @include zen-grid-item(12, 1);

    }

    .eresource-right-col {
      @include zen-clear();
      @include zen-grid-item(12, 1);
      @include zen-nested-container();
    }
  }

  /* Page elements */
  h1.page-title {
    margin-bottom: $large-spacing;
  }

  .label-info {
    display: block;
  }

  .eresource-image {
    display: none;
  }


  .eresource-footer {
    display: block;
    padding-top: $large-spacing;
    margin-top: $medium-spacing;
    border-top: 1px solid $gray-light;

    .eresource-info {

      .eresource-info-item {
        border-left: 0;
      }
    }


  }

  .eresource-content {

    padding: 0;
    .field-name-field-ding-eresource-materials {
      padding:0;
      h2 {
        font-size: $font-size-medium;
      }
    }
  }


}

