/**
 * Additional styles for the bibsdb theme only
 * - does not contain overridden DDBasic styles
 * 
 *
 * @author agms
 */
 
 
/* General
   ========================================================================== */ 
 
p {
	margin: 0;
	padding: $small-spacing 0;
}

/* Style links in footer
   ===========================================================================*/
   
.bottom{

  a:link {
    color: $green;
  }
  
	a:visited {
    color: $green;
  }
}

/* Hide class
	============================================================================ */
.hidden {
	display: none;
}

/* Add margin after title image in group
   ========================================================================== */ 
.field-name-field-ding-group-title-image {
	margin-bottom: $medium-spacing;
}

/* Column Styles
   ========================================================================== */
   
/* Two coloum layout */
@include large-x-large() {

	.bibsdb-half-column-one {
		@include zen-grid-item(6, 1);
		padding-left: 0;
	}
	.bibsdb-half-column-two {
		@include zen-grid-item(6, 7);
	}
}

@include medium() {
	.bibsdb-half-column-one {
		@include zen-grid-item(6, 1);
		padding-left: 0;
		
	}
	.bibsdb-half-column-two {
		@include zen-grid-item(6, 7);
		@include zen-nested-container();
	}
}

/* Thirds coloum layout */
@include large-x-large() {

	.bibsdb-thirds-column-one {
		@include zen-grid-item(8, 1);
		padding-left: 0;
	}
	.bibsdb-thirds-column-two {
		@include zen-grid-item(4, 9);
	}
}

@include medium() {
	.bibsdb-thirds-column-one {
		@include zen-grid-item(8, 1);
		padding-left: 0;
	}
	.bibsdb-thirds-column-two {
		@include zen-grid-item(4, 9);
	}
}

/* Hide tags on pages
============================================================================= */

.node-type-ding-page .label {
	display: none;
}

.node-type-ding-page .super-heading {
	display: none;
}



/* Infoboxes
   ========================================================================== */

%bibsdb-infobox-header {
	padding: 3px 10px 1px 10px;
}

%bibsdb-infobox-body {
	padding: 10px 15px;
}



.bibsdb-infobox-header-gray {
	@extend %bibsdb-infobox-header;
  background-color: $gray;
  color: white;
}
.bibsdb-infobox-body-gray {
	@extend %bibsdb-infobox-body;
	background-color: $gray-lightest;
}


/* Bibsdb tag list
   ========================================================================== */
   
.view-bibsdb-tags-list.view-node-search-result {
	padding: 0;
}

.bibsdb-taglist {
  margin: 0;
  padding: 0;
  
.arrow-link {
  @extend %arrow-link;
  right: $medium-spacing;
  top: 50%;
}



  
  

  .bibsdb-taglist-item {
    @extend %article-background;
    padding: 10px;
    @extend %article-margin;

    overflow: hidden;
    position: relative;
  }

  .bibsdb-taglist-item:nth-child(odd) {
    @extend %article-background--odd;
  }

  .bibsdb-list-item:nth-child(even) {
    @extend %article-background--even;
  }

  .bibsdb-taglist-heading {
    @extend %article-heading;
  }

  .bibsdb-taglist-image-wrapper {
    float: left;
    margin-right: $large-spacing;
    max-width: 120px;

    a {
      display: block;
    }
  }

  .bibsdb-taglist-heading,
  .bibsdb-taglist-content {
    margin-left: 140px;
  }

  .bibsdb-taglist-content {
    margin-right: $large-spacing;
   
  }


  /* Media queries */
  @include small() {
    .bibsdb-taglist-image-wrapper {
      display: none;
    }

    .bibsdb-taglist-heading,
    .bibsdb-taglist-content {
      margin-left: 0;
    }

    .bibsdb-taglist-heading {
      font-size: $font-size-large;
      margin-right: 35px;
    }
  }
}

/* Bibsdb heading
   ========================================================================== */

.bibsdb .pane-title {
	background-color: $gray-dark;
	color: $white;
	padding: 3px;
	border-top: 7px double $white;
	border-bottom: 4px double $white;
	margin: $small-spacing 0;
}

.bibsdb ul.bibsdb-menu {
	padding: 0;
}

.bibsdb .bibsdb-menu li {
	padding: $small-spacing;
	@include green-link;
	
}

.bibsdb .bibsdb-menu li.views-row-even {
	background-color: $gray-lighter;
}
