/**
 * Create responsive link box on frontpage
 * - there is jquery involved too
 * 
 *
 * @author agms
 */
 

 
 /* Hide links every where
	============================================================================ */

.bibsdb-frontpage-links {	
		display: none;
	}	
		
 /* -- but dispaly on large screens 
	============================================================================ */	
@include large-x-large() {
	.bibsdb-frontpage-links {	
		display: block;
		@include zen-grid-item(3, 1, right);
		overflow: hidden;
		float: right;
		background-color: white;
		padding: $large-spacing;
		position: relative;
		height: 290px;
		z-index: 5;
		a {
				@include font-bold();
				font-size: $font-size-large;
				color: $font-color-primary;
		}
	}	
}

/* Make font a bit smaller
	============================================================================ */
	
@include large() {
	.bibsdb-frontpage-links {	
		a {
			font-size: $font-size-medium;
		}
	}	
}
		

/* Hide the tabroll tabs on large screens - we occupy that space with the link-box
	============================================================================ */

@include large-x-large() {  

	.ding-tabroll-wrapper .ui-tabs ul.ui-tabs-nav {
    display: none;
  }
  

  .ding-tabroll-wrapper .ui-tabs .ui-tabs-panel {
		@include zen-grid-item(9, 1);
  }
}

/* No left padding on tabrolls on large screens when we display only one slide
	============================================================================ */

@include large-x-large() {  

	.ding-tabroll-wrapper .ui-tabs .ui-tabs-panel {
		padding-left: 0;
	}
}


/* Hide info-text across slide-show
	============================================================================ */

.ding-tabroll-wrapper .ui-tabs .ui-tabs-panel .info {
  display: none;
}
  
  
  


