/**
 * Ting Genre Page
 *
 * @author agms
 */

.node-type-genre-page .layout-wrapper {
  background-color: $gray-light;
  padding-top: 0;
}
.node-type-genre-page .pane-page-title h1 {
	font-size: 250%;
}

.node-type-genre-page .pane-new-materials-covers, .node-type-genre-page .pane-inspiration-page-covers {
	background-color: $white;
	margin-bottom: $large-spacing;
}

.node-type-genre-page .new-materials-title {
  padding-left: 16px;
  padding-top:  16px;
}

.node-type-genre-page .search-results li {
  margin-bottom: 1.5em;
  margin-right: 10px;
}

.node-type-genre-page .search-results ul {
  margin-left: 20px;
}

