/**
 * Additional styles for the bibsdb theme only
 * - does not contain overridden DDBasic styles
 * 
 *
 * @author agms
 */
 
 
/* General
   ========================================================================== */ 
 
p {
	margin: 0;
	padding: $small-spacing 0;
}

/* Style links in footer
   ===========================================================================*/
   
.bottom{

  a:link {
    color: $green;
  }
  
	a:visited {
    color: $green;
  }
}

/* Hide class
	============================================================================ */
.hidden {
	display: none;
}

/* Add margin after title image in group
   ========================================================================== */ 
.field-name-field-ding-group-title-image {
	margin-bottom: $medium-spacing;
}


/* Hide tags on pages
============================================================================= */

.node-type-ding-page .label {
	display: none;
}

.node-type-ding-page .super-heading {
	display: none;
}


