/**
 * Additional styles for the bibsdb theme only
 * - does not contain overridden DDBasic styles
 * 
 *
 * @author agms
 */
 
 
/* General
   ========================================================================== */ 
 
p {
	margin: 0;
	padding: $small-spacing 0;
}

/* Style links in footer
   ===========================================================================*/
   
.bottom{

  a:link {
    color: $white;
  }
  
	a:visited {
    color: $white;
  }
}

/* Hide class
	============================================================================ */
.hidden {
	display: none;
}

/* Hide on small screens class
==============================================================================*/


@include small-medium() {

  .hidden-on-small-screens {
    display: none;
  }
}

/* Add margin after title image in group
   ========================================================================== */ 
.field-name-field-ding-group-title-image {
	margin-bottom: $medium-spacing;
}


/* Hide tags on pages
============================================================================= */


.node-type-ding-page .super-heading {
	display: none;
}

/* Gray box
============================================================================= */

.gray-box {
	background-color: $gray-lightest;
	padding: 20px;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* Box with thin gray border
=============================================================================*/

.gray-border-box {
  
  > div {
    padding: 10px;
    border: 1px solid $gray-light;
  }
}



/* Nice heading on alphabetical list on netbiblioteket
=============================================================================*/

.bibsdb-page-netbiblioteket .pane-bibsdb-tags-list-panel-pane-11 .pane-title {
  margin-top: $large-spacing;
  padding-top: $large-spacing;
  border-top: 1px solid $gray-light;
}



/* Two column layout on netbiblioteket
=============================================================================*/

@include large-x-large() {
  .bibsdb-page-netbiblioteket .primary-content {
    @include zen-grid-container();
    .pane-bibsdb-tags-list-panel-pane-5 {
      @include zen-grid-item(8, 1);
    }
    
    .pane-bibsdb-tags-list-panel-pane-11 {
      @include zen-grid-item(4, 1, right);
    }
  }
}

/* Bibsdb foldable list
=============================================================================*/

.bibsdb-foldable-field {
  display: none;
}

h3.bibsdb-foldable-list-title {
  margin: 0;
}

.info-link {
  @extend %arrow-link;
  top: $medium-spacing;
  padding-right: $small-spacing;
  color: $green-dark;
  font-size: $font-size-larger;
}

/* Style message on contact page
=============================================================================*/
.bibsdb-contact-message {
  color: $red;
  font-size: $font-size-medium;
  font-family: $font-bold;
  margin-bottom: $medium-spacing;
}

/* Hide ask-vopros-tab on small screens
=============================================================================*/
@include small-medium() {
  .ask-vopros-tab {
    display: none;
  }
} 

/* Extra space between form components on webforms
==============================================================================*/
.form-item.webform-component {
	margin-top: $large-spacing;
}