/**
 * Read Circuit Sets
 *
 * @author agms
 */

/* Read Circuit Sets Item Styling
   ========================================================================== */
.rcs-list  {
	img {
		float: left;
		margin-right: $large-spacing;
		margin-bottom: $large-spacing;

	}
}
