 /**
 * menucard
 * *
 * @author agms.
 */



/* Menucard
========================================================================== */

/* Nid on biblioteket.sonderborg.dk (webform and confirmation) */
/* Has to start with html.js to get rid of png-arrow on collabsible fieldset */

html.js .page-node-2271, html.js .page-node-1421, body.page-node-1441 {

	.default-layout .primary-content {
		background-image: url("/sites/default/files/chalkboard-background.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color: #255e3b;
		color: $white;
	}

	h1.page-title {
		color: $white;
	}


	.node-webform {
		padding: $large-spacing;
		padding-top: 0;

		.field-name-field-ding-page-body a:link, .webform-component--footer a:link{
			color: $white;
			text-decoration: underline;
		}
		.field-name-field-ding-page-body a:visited, .webform-component--footer a:visited {
			color: $white;
			text-decoration: underline;
		}
		.page-image {
			margin: 0;
		}

		h1.page-title {
			color: $white;
		}
		.page-content {
			font-size: $font-size-medium;
		}
	}



	.illustrations {
		@include zen-nested-container();
		text-align: center;
	}
	.illustration1 {
		@include zen-grid-item(4, 1);
	}
	.illustration2 {
		@include zen-grid-item(4, 5);
	}
	.illustration3 {
		@include zen-grid-item(4, 9);
	}
	.clearill {
		@include zen-clear();
	}



	.pane-node-content h2.pane-title {
		display: none;
	}


	form {
		padding: $large-spacing;
	}

	.form-item {
		margin: 0;
		select {
			max-width: 100px;
			min-width: 75px;
		}
		label.option {
			font-size: $font-size-large;
			padding-left: $small-spacing;
		}
		p {
			margin-left: $large-spacing;
		}
		&.webform-component--footer p{
			margin-left: 0;
			font-size: $font-size-medium;
		}
		.form-checkboxes {
			margin-top: 30px;
		}

	}


	.form-actions {
		margin-top: $large-spacing;
	}



	fieldset {
		margin: $large-spacing;
		&.collapsed {
			.fieldset-legend {
				background: none;
				padding-left: 0;
			}
			.fieldset-title {
				&:before {
					font-family: FontAwesome;
					content: "\f054\00a0\00a0";
				}
			}
		}

		&.collapsible {
			.fieldset-legend {
				background: none;
				padding-left: 0;
			}
			.fieldset-title {
				&:before {
					font-family: FontAwesome;
					content: "\f078\00a0\00a0";
				}
			}
		}

		.fieldset-title {
			color: white;
			font-size: $font-size-large;
		}
	}

}

