 /**
 * eresource
 * *
 * @author agms.
 */


 /* Hightlight current node in menu */
 .bibsdb-page-eresourcer {
  .sub-menu {
    > li {
      .active0 {
        @include font-bold();
      }
    }
  }

  /* Media queries */
  @include small-medium {

    /* Hide alphabetikal menu on small screens */
    .alphabetical-eresource-list {
      display: none;
    }
  }
}









/* eresource Default View
========================================================================== */

.eresource {

  h1.page-title{
    clear: both;
    padding: 0;
  }

  .label-info {
    display: none;
  }

  .eresource-image {
    margin-top: $medium-spacing;
    margin-right: $large-spacing;
    margin-bottom: $medium-spacing;
    padding-left: 0;
    border: 1px solid $gray;
  }

  .eresource-right-col {
    @include zen-clear();
    @include zen-grid-item(4, 1, right);

    /* Add top-margin when there is an image */
    margin-top: $medium-spacing;
  }

  .eresource-info {
    padding-right: 0;

    i[class^="icon-"] {
      display: inline-block;
      margin-left: -24px;
      min-width: $large-spacing;
    }

    div, p {
      display: inline;
    }

    div.eresource-info-item {
      display: block;
      border-left: 5px solid $gray-light;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: $medium-spacing;
      padding-left: $large-spacing;
    }

    div.field-name-field-bibsdb-eresource-links .field-label{
      display: none;
    }
  }

  .eresource-lead {
    @include font-bold();

    font-size: $font-size-medium;
    padding-bottom: $large-spacing;
    margin-bottom: $medium-spacing;
    border-bottom: 1px solid $gray-light;

  }

  .eresource-content {
    @include zen-clear();
    @include zen-grid-item(8, 1);

    padding-left: 0;

    .field-name-field-ding-eresource-materials {
      padding:0;
      h2 {
        font-size: $font-size-large;
      }
      .label {
        display: none;
      }
    }
  }

  .eresource-footer {
    display: none;
  }




  /* Media queries */
  @include small-medium {

    h1.page-title {
      margin-bottom: $large-spacing;
    }

    .label-info {
      display: block;
    }

    .eresource-image {
      display: none;
    }

    .eresource-right-col {
      display:none;
    }

    .eresource-footer {
      display: block;
      padding-top: $large-spacing;
      margin-top: $medium-spacing;
      border-top: 1px solid $gray-light;

      .eresource-info {

        .eresource-info-item {
          border-left: 0;
        }
      }

      
    }

    .eresource-content {
      @include zen-clear();
      @include zen-grid-item(12, 1);
      padding: 0;
      .field-name-field-ding-eresource-materials {
        padding:0;
        h2 {
          font-size: $font-size-medium;
        }
      }
    }

    
  }
}
