/**
 * Colors settings for the bibsdb theme.
 *
 * Every color settings MUST be in HEX format..
 * @author agms
 */


/* Topbar */
$topbar-background-color:         $mkh-blue1 !default;

/* Header */
$header-background-color:         $mkh-blue1 !default;

/* Navigation */
$navigation-background-color:     $mkh-blue1 !default;

/* Links */
$link-color:                      $mkh-green !default;
$link-color-hover:                $black !default;

/* Labels */
$label-bg-color:                  $mkh-gray1 !default;
$label-bg-color-hover:            $mkh-gray2 !default;
$label-text-color:                #fffffd !default;
$label-text-color-hover:          #fafaf7 !default;

/* Content */
$content-background-color:        #fffffe !default;

/* List */
$list-background-color:           $gray-lightest !default;
$list-item-background-color-odd:  $gray-lightest !default;
$list-item-background-color-even: $gray-lightest !default;
$list-text-color:                 #4c4c4c !default;

/* Footer */
$footer-background-color:         $mkh-blue2 !default;
