/**
 * Rules that can be configured is located in this file.
 *
 * @author agms
 */


 /* Topbar background color */
 .topbar {
  background-color: $topbar-background-color;
}


/* Header background color */

.header-wrapper {
  background-color: $header-background-color;
}


/* Navigation background color */

.navigation-wrapper {
  background-color: $navigation-background-color;
}

/* Links */

a {
  font-weight: $base-font-weight-normal;

  &:link {
    color: $link-color;
    text-decoration: none;
  }

  &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;

    i[class^="icon-"] {
      text-decoration: none;
    }
  }

  &:focus {
    color: $link-color-hover;
  }
}

/* Article background extends */

%article-background {
  background-color: $list-background-color;
}

%article-background--odd {
  background-color: $list-item-background-color-odd;
}

%article-background--even {
  background-color: $list-item-background-color-even;
}



/* Footer background color */

.footer {
  background-color: $footer-background-color;
}

/* Bottom background color */
.bottom {
  background-color: $gray-darkest;
  padding-bottom: 30px;

  .pane-content {
    @include zen-grid-container();
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    overflow: visible;
  }

  .menu1, .menu2, .menu3 {
    text-align: left;
  }
  .pane-title {
    font-size: $font-size-medium;
    color: $white;
    padding-bottom: $large-spacing;
  }

  .menu1 {
    @include zen-grid-item(3, 1);
  }
  .menu2 {
    @include zen-grid-item(3, 4);
  }
  .menu3 {
    @include zen-grid-item(3, 4, right);
  }

  .facebook-link {
    &:before {
    content: "\f082";
    font-family: FontAwesome;
    font-size: $font-size-large;
    padding-right: $small-spacing;
    padding-top: $small-spacing;
    }

  }
}
