/**
 * Colors settings for the bibsdb theme.
 *
 * Every color settings MUST be in HEX format..
 * @author agms
 */


/* Topbar */
$topbar-background-color:         #ffffff !default;

/* Header */
$header-background-color:         $gray-dark !default;

/* Navigation */
$navigation-background-color:     $gray-darkest !default;

/* Links */
$link-color:                      $green-dark !default;
$link-color-hover:                $green-darker !default;

/* Labels */
$label-bg-color:                  $gray-dark !default;
$label-bg-color-hover:            $gray-darker !default;
$label-text-color:                #fffffd !default;
$label-text-color-hover:          #fafaf7 !default;

/* Content */
$content-background-color:        #fffffe !default;

/* List */
$list-background-color:           $gray-lightest !default;
$list-item-background-color-odd:  $gray-lightest !default;
$list-item-background-color-even: $gray-lightest !default;
$list-text-color:                 #4c4c4c !default;

/* Footer */
$footer-background-color:         $gray-dark !default;
