/**
 * Carousel
 *
 * @author agms
 */

/* New materials display variables
   ========================================================================== */

$nm-image-width:                       155px;
$nm-image-max-height:                  210px;
$small-spacing:                   5px;




.nm-grid {
  li {
    position: relative;
    display:inline-block;
    margin-right: 2em;
    margin-bottom: 5em;
    width: $nm-image-width;

    img {
      padding: 0;
      
    }

    &:hover {
      .nm-item-title {
        text-decoration: underline;
      }
    }

    a {

      &:hover {
        text-decoration: underline;
      }
    }

    .title-wrapper {
      @include box-sizing(border-box);
      width: $nm-image-width;
      position: absolute;
      bottom: -30px;
      left:0;
      background-color: white;
      padding-top: $small-spacing;
      padding-bottom: $small-spacing;
      width: 100%;
      line-height: 18px;
      z-index: 100;
      a.nm-item-title {
        width: $nm-image-width;
        color: $font-color-primary;
        @include font-bold();
    }




 
    }
  }

  @include small() {
    li {
      width: $nm-image-width / 2;

      a {
        max-height: $nm-image-max-height / 2;
        width: $nm-image-width / 2;
      }

      .nm-item-title {
        display: none;
      }
    }
  }
}