/**
 * Ting Genre Page
 *
 * @author agms
 */
.node-type-genre-page .layout-wrapper {
  background-color: $gray-light;
}

.node-type-genre-page .new-materials-title {
  padding-left: 16px;
  padding-top:  16px;
}

.node-type-genre-page .search-results li {
  margin-bottom: 1.5em;
  margin-right: 10px;
}

.node-type-genre-page .search-results ul {
  margin-left: 20px;
}

