/**
 * Carousel
 *
 * @author magnify
 */



/* Variables
   ========================================================================== */

$carousel-background-color:                $white;
$carousel-image-width:                     200px;
$carousel-image-max-height:                250px;
$carousel-tab-background-color:            $mkh-blue3;
$carousel-active-tab-background-color:     $mkh-blue2;
$carousel-tab-color:                       $white;

/* Carousel
   ========================================================================== */

.rs-carousel {
  @include small-medium() {
    background-color: $white;
  }
  
  @include small {
    background-color: $white;
  }

}

.rs-carousel-inner {
  padding-bottom: 20px;
}

/* Carousel tabs
   ========================================================================== */

.rs-carousel-tabs {
  .rs-carousel-list-tabs {
    .rs-carousel-item {

      a {
        background-color: $carousel-tab-background-color;
        color: $carousel-tab-color;
        margin-right: 1px;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
          background-color: $carousel-active-tab-background-color;
          text-decoration: none;
        }
      }

      &.active {
        a {
          @include font-normal();

          background-color: $carousel-active-tab-background-color;

          &:before {
            @include pseudo-arrow(10px, $carousel-active-tab-background-color, top, center, $offset: 20px);
          }

        }
      }
    }
  }
}