/**
 * Search
 * 
 *
 * @author agms
 */

/* Search
========================================================================== */

.header-wrapper {
  /* Add padding if the search is in the header */
  .search {
    padding-top: 30px;
    padding-right: 10px; /** agms */
    padding-bottom: 30px;
    padding-left: 10px; /** agms */
  }
}

.search {
  @extend %search-user-header;
  

  .search-field-wrapper {
    position: relative;
  }

  [class^="icon-"] {
    bottom: 16px;
    // Make space for the drop-down
    @include large-x-large() {
      left: 19%;
    }
  }

  .spinner {
    i[class^="icon-"] {
      @extend .icon-spin;
      @extend .icon-spinner;
      height: auto;
    }
  }

  .form-item {
    width: 100%;
  }

  .form-text {
    padding-left: 10%;
    // Make space for the drop-down
    @include large-x-large() {
      padding-left: 6%;
      margin-left: 17%;
      min-width: 82%;
      width: 82%;
    }
  }

  @include small-medium {
    width: auto;
  }
}

/* Styling of Ting field search profile select box.
========================================================================== */

.form-item-ting-field-search select {
  width: 100%;
}

// Make the profile select part of the search field on larger screens.
@include large-x-large() {
  #search-block-form {
    position: relative;

    .form-item-ting-field-search {
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      min-height: 60px;
      width: 16%;
      font-size: $font-size-medium;

      select {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 60px;
        width: 15%;
        border-radius: 15px;
        border: 1px solid $gray;
        
      }
    }
  }
}


/* Search in content
========================================================================== */

.search-field-in-content {
  @include large-x-large() {
    .form-submit {
      margin-top: 0;
    }
  }
}

.search-field-in-content--amount {
  color: $gray-dark;
}

.search-field-in-content {
  @extend .search;

  margin-bottom: 20px;
  padding: 0;
  position: relative;

  .form-text {
    border: 1px solid $gray;
  }
}

 /* Hide message every where - agms
 ============================================================================ */

 .search-field-in-content--message {	
  display: none;
}	

 /* -- but display on large screens - agms
 ============================================================================ */	
 @include large-x-large() {

  .search-field-in-content--message {
    display: block;
    @include font-bold();

    margin-bottom: 30px;
    padding: 20px;

    background-color: lighten($yellow, 20%);
  }
}

.search-field-in-content--sort-results,
.search-field-in-content--sort-best-match,
.page-search .pane-search-per-page,
.page-search .pane-ting-search-sort-form {
  display: inline-block;
  min-width: 0;
  max-width: 49%;

  .form-select {
    width: 100%;
  }
}

.search-field-in-content--sort-results,
.page-search .pane-search-per-page {
  @include zen-grid-item(6, 1, right);
}

.search-field-in-content--sort-best-match,
.page-search .pane-ting-search-sort-form {
  @include zen-grid-item(6, 1);
}

.page-search .pane-ting-search-sort-form {
  clear: none;

  overflow: visible;
}

.page-search .pane-search-per-page,
.page-search .pane-ting-search-sort-form {
  @include zen-nested-container();

  @include small-medium() {
    @include zen-clear(both);
    @include zen-grid-item(12, 1);
    @include zen-nested-container();

    max-width: 100%;
  }
}

/* Facet browser styling
========================================================================== */

.pane-search-backends, .pane-ding-facetbrowser {
	a:visited {
    color: $link-color;
  }
}

/* Search results list
========================================================================== */

.subjects {
  .subject {
    @extend .label;
  }
}
