/**
 * Libraries
 *
 * @author agms
 */


.library-list {
	.libraries-opening-hours {
		display: inline;
	}

  /* Opening hours toggle */
  .opening-hours-toggle {
		display: none;
	}
	
	/* Replaces opening-hours for collection points on library list*/
	.bibsdb-collection-point-opening-hours-list {
	  @include zen-grid-item(4, 1, right);
    @include zen-clear(right);
  }
}


/* Library page
   ========================================================================== */

/* Using id, can't remove and add better wrapper class */
#ding-library-front {

  .ding-library-contact {
    @include zen-grid-item(8, 1);

    @include small-medium() {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }
  }

  .ding-library-address {
    @include zen-grid-item(4, 1, right);

    @include small-medium() {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }
  }

  .ding-library-facilities {
    @include zen-grid-item(4, 1, right);
    @include small-medium() {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }
  }

	.ding-library-events {
    @include zen-clear(both);
    @include zen-grid-item(8, 1);
    @include small-medium() {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }
  }
  
  .ding-library-facilities {
    border-top: 1px solid $gray-lightest;
    padding-top: $large-spacing;

    @include small-medium() {
      @include zen-clear(both);
      @include zen-grid-item(12, 1);
    }
  }
  
 .opening-hours-toggle {
    @include zen-grid-item(6, 1);
    @include zen-clear(both);

    @include small-medium() {
      display: none;
    }
  }
  
   /* Replaces opening-hours on collection point library pages */
	.bibsdb-collection-point-opening-hours-page {
    @extend .ding-library-events;
  }
}

.arrow-link-small {
  @extend %arrow-link;
  right: $medium-spacing;
  top: 30%;
  font-size: 10px;
}
