/**
 * Event styling
 *
 * @author agms
 */
 
 /* Event list heading */
 .event-list-leaf {
   .event-list-day {
    background-color: $green;
  }
}

/* Buy ticket button */
.event .ticket-available {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
}

/* Not available button */
.event .ticket-info {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
}

/* Campaigns - Pane library list 
If we have embedded columns don't show top border */
.page-arrangementer .content-blocks--inner .content-blocks--inner {
	border: 0;
	margin-top: 0;
	padding-top: 0; 
}

/* Wall next to - Pane library list 
*/

.page-arrangementer {
  .primary-content {
    @include zen-nested-container();
  }

  .pane-library-list {
    @include zen-grid-item(9, 1);
    @include zen-clear();
    @include small-medium() {
      @include zen-grid-item(12, 1);
    }
  }

  .pane-bibsdb-wall-panel-bibsdb-wall {
    @include zen-grid-item(3, 1, right);
    @include small-medium() {
      display: none;

    }
  }

  .pane-ding-event-ding-event-list {
    @include zen-clear();
    @include zen-grid-item(9, 1);
    @include small-medium() {
      @include zen-grid-item(12, 1);
    }
  }
}

