/**
 * Event styling
 *
 * @author agms
 */

 /* Insert space in event-menu above Aktiviteter for baby 0-3 år */
 .sub-menu li.spaceabove {
  padding-top: $large-spacing;
} 

/* Event list heading */
.event-list-leaf {
   .event-list-day {
    background-color: $mkh-green;
  }
}

/* Buy ticket button */
.event .ticket-available {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
}

/* Not available button */
.event .ticket-info {
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
}



/* Wall next to - Pane library list 
*/

.page-arrangementer {
  .primary-content {
    @include zen-nested-container();
  }

  .pane-library-list {
    @include zen-grid-item(9, 1);
    @include zen-clear();
    @include small-medium() {
      @include zen-grid-item(12, 1);
    }
  }

  .pane-bibsdb-wall-panel-bibsdb-wall {
    @include zen-grid-item(3, 1, right);
    @include small-medium() {
      display: none;

    }
  }

  .pane-ding-event-ding-event-list {
    @include zen-clear();
    @include zen-grid-item(9, 1);
    @include small-medium() {
      @include zen-grid-item(12, 1);
    }
  }

  /* Style the text below the event list */
  .pane-block-2 {
    @include zen-clear();
    @include zen-grid-item(12, 1);
    margin-top: $large-spacing;
    padding: 15px;
    background: url("/profiles/ding2/themes/ddbasic/images/pw_maze_white.png");

   .pane-content {
      background-color: $white;
      padding: $medium-spacing;
      color: $gray-darker;
    }
  }
}

/* Style text on event category pages */
.default-layout .attachments-wrapper {
  @include zen-grid-container();
  margin-left: 10px;
  margin-right: 10px;
}

.attachments-1-1 .attachment-first {
  clear: both;
  background-color: $white;
  @include zen-grid-item(12, 1);
}

.footer {
  clear: both;
}

.pane-taxonomy-term-field-bibsdb-event-cat-top {
  @include zen-clear();
}

.pane-taxonomy-term-field-bibsdb-event-cat-bottom {
  @include zen-clear();
  margin-top: $large-spacing;
  .pane-content {
    padding: 15px;
    background: url("/profiles/ding2/themes/ddbasic/images/pw_maze_white.png");
  }
  .field {
    background-color: $white;
    padding: $medium-spacing;
    color: $gray-darker;
  }

}