 /**
 * News
 *
 * Uses shared %article @extends
 *
 * @author agms
 */
@include large-x-large() {
	 .news .image-container {
	 		@include zen-grid-item(8, 1);
	 		border-right: $small-spacing solid $gray-light;
	 		@include box-sizing(border-box);
	 		min-height: 200px;
	 		padding:0;
	 }

	 .news .signature-top {
	 		@include zen-grid-item(4, 1, right);
	 		border: 0;
	 		padding-left: $large-spacing;
	 }
 }

 @include small-medium() {
  .news .signature-top {
  	display: none;
  }
 }


 .news .super-heading {
 		@include zen-clear();
 }

.news-list { 
  .news-label {
    @extend .label;
  }
  
  .news-list-content {
    max-height: 65px;
  }
}
