/**
 * Base
 *
 * @author agms
 */

body {
  background-color: $gray-light;
  color: $font-color-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bold();

	/* This fixes huge spaces when a heading wraps onto two lines */
	line-height: 1.2;

  margin-top: 0;
  margin-bottom: $medium-spacing;

	/* Voodoo to enable ligatures and kerning */
	text-rendering: optimizeLegibility;

  a {
    &:link {
      color: $font-color-primary;
      text-decoration: none;
    }

    &:visited {
      color: darken($font-color-primary, 25%);
    }

    &:hover {
      color: darken($font-color-primary, 25%);
    }

    &:focus {
      color: darken($font-color-primary, 25%);
    }

    &:active {
      background-color: transparent;
      color: darken($font-color-primary, 25%);
    }
  }
}


h1 {
  font-size: $font-size-giga;
}

h2 {
  font-size: $font-size-largest;
}

h3 {
  font-size: $font-size-larger;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-reset;
}


strong {
  @include font-bold();
}


em {
  @include font-italic();

  strong {
    @include font-bold();
  }
}


/* Image
   ========================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}



/* Lists
   ========================================================================== */

ul {
  margin: 0;
  padding-left: 20px;

  li {
    list-style: none;
  }
}


/* Make sure lists in content get the icon */
.page-content {
  li {
    list-style: disc outside;
  }
}

/* Agms
	============================================================================= */

body {
	 /* Voodoo to enable ligatures and kerning */
	text-rendering: optimizeLegibility;
}

/* Media queries */
@include small() {
	body {
		font-size: $base-font-size + 2px;
		line-height: $base-line-height + 2px;
	}
}

@include medium() {
	body {
		font-size: $base-font-size + 2px;
		line-height: $base-line-height + 2px;
	}
}

@mixin green-link {
	a {
		&:link {
			color: $link-color;
			text-decoration: none;
		}

		&:visited {
			color: $link-color;
		}

		&:hover {
			color: $link-color-hover;
		}

		&:focus {
			color: $link-color-hover;
		}

		&:active {
			background-color: transparent;
			color: $link-color-hover;
		}
	}
}

h4,
h5,
h6 {

  margin-top: $large-spacing;
  margin-bottom: 0;
}


h5,
h6 {
			@include green-link;
  }





h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-reset;
}
