/**
 * Navigation
 *
 * @author agms
 */

/* Topbar menu
   ========================================================================== */

.topbar-menu {
	margin-top: 15px;
	@include small-medium() {
    margin-top: 15px;
    @include zen-grid-item(8, 1, right);
    clear: none;
  }
  @include small() {
    margin-top: 15px;
    @include zen-grid-item(8, 1, right);
    clear: none;
  }

	.menu-item {
		text-shadow: none;
		font-size: $font-size-large;
    font-family: $font-bold;
		
		/* Make the tabs a little higher to span the logo as it grows higher */
		@include medium() {
			padding: 20px 14px;

      /* Hide New user menu item on small screens. */
      &.topbar-link-new-user {
        display: none;
      }
		}
		@include small() {
			padding: 10px 10px;

      /* Hide New user menu item on small screens. */
      &.topbar-link-new-user {
        display: none;
      }
		}
	

		color: $white;
		&:hover {
			background-color: $mkh-green;
			color: $white;
		}

		&.active {
			color: $white;
			background-color: $white;
      color: $mkh-blue1;
		}

    /* Hide New user menu item when logged in. */
    &.topbar-link-new-user.logged-in {
      display: none;
    }
	}

  @include small-medium() {

    .topbar-link-user-account.menu-item {
      display:inline-block;
    }

    .topbar-link-user-account.default-override {
      display:none;
    }

  }

  .pane-notifications-top-menu {
    margin-top: 65px;
    .item-list li.last {
      margin-right: 2em;
    }
  }
}

/* Navigation, main menu and secondary menu
   ========================================================================== */
.navigation-wrapper {
  background-color: $navigation-background-color;
  /* Media queries */
  @include small-medium() {
	  background-color: $header-background-color;
  }
  @include small() {
    background-color: $header-background-color;
  }
}

.main-menu-wrapper {
  @include zen-grid-item(8, 1);
}

.secondary-menu-wrapper {
  @include zen-grid-item(4, 1, right);
}

.main-menu-wrapper,
.secondary-menu-wrapper {
  @include small-medium() {
    @include zen-grid-item(12, 1);
    @include zen-clear();
  }
}

@include large-x-large() {
  .secondary-menu {
	  font-size: $font-size-medium;
  }
}


.main-menu, .secondary-menu {
  font-size: $font-size-medium;
  font-family: $font-regular;

  .menu-item {
		color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
		&:hover {
      color: $mkh-green;
		}
		&.active {
      color: $mkh-green;
		}
	}
}

.secondary-menu {
  .menu-item {
    margin-right: 0;
  }

  li {
    border-right: 0;
  }
}




/* Sub menu
   ========================================================================== */
h2.sub-menu-title {
	@include font-bold();
}

.sub-menu {
	margin-bottom: $large-spacing;
  > li {
    border-bottom: 0;
    a {
      color: $font-color-primary;
      font-family: $font-regular;
      font-size: $font-size-medium;
      padding-top: $small-spacing;
      padding-bottom: 8px;
      
      &:hover {
        color: $font-color-primary;
				text-decoration: underline;
			}
		}
	}
	li {

    &:before {
      color: $font-color-primary;
      font-size: $font-size-reset;
      margin-top: 4px;
    }
  }
 
}
